
{% if accepted %}
  <span class="text-success" ><span class="fa fa-check"></span>Accepted</span>
{% elif accepted != None %}
  <span class="text-danger" ><span class="fa fa-ban"></span> Declined</span>
{% endif %}
