{% load scheduletags %}

<div id="expand-day" class="{{size}} cal-cell1 cal-cell day-cell expand-day
{% if now.day == day.start.day and now.month == day.start.month %}cal-day-today{% endif %}
{% if month.start.month != day.start.month %}cal-day-outmonth noday{% endif %}">
  <div class="dayNumber">
    <a href="{% url 'day_calendar' calendar.slug %}{% querystring_for_date day.start 3 %}">
      <span>{{day.start.day}}</span>
    </a>
  </div>
  {% for event in day.get_occurrence_partials %}
    <div class="center-block cal-event">
      <a href="{% url 'show' request.user.calendar.slug event.show.id %}">
        <span class="visible-xs">{{ event.show.date.start|date:'g:i' }}</span>
        <span class="hidden-xs">
          <b>{{ event.show.date.start|date:'fA' }}:</b>
          {% if event.show.info.title %}
            {{ event.show.info.title }}
          {% else %}
            {{ event.show.info.headliner.name }}
          {% endif %}
        </span>
      </a>
    </div>
    <div class="hidden">
      <li class="events"><a class="show-title" href="{% url 'show' request.user.calendar.slug event.show.id %}">
          <b>{{ event.show.date.start|date:'fA' }}:</b>
          {% if event.show.info.title %}
            {{ event.show.info.title }}
          {% else %}
            {{ event.show.info.headliner.name }}
          {% endif %}
        </a></li>
    </div>
  {% endfor %}
  <div class="links pull-right">
    {% with date=day.start  %}
      <div>
        <a class="btn btn-primary btn-sm" href="{% url 'calendar_create_event' request.user.calendar.slug %}?year={{date.year}}&month={{date.month}}&day={{date.day}}&hour=19">
          <span>Create Event</span>
        </a>
      </div>

      <div>
        {% if user.profile.profile_type == 'm' %}
          <a class="btn btn-default btn-sm" href="{% url 'available_venues' order='all' year=date.year month=date.month day=date.day %}">
            <span class="fa fa-search"></span><span class="description"> Find Venue</span>
          </a>
        {% else %}
          <a class="btn btn-default btn-sm"  href="{% url 'available_artists' order='all' year=date.year month=date.month day=date.day %}">
            <span class="fa fa-search"></span><span class="description"> Find Artist</span>
          </a>
        {% endif %}
      </div>
    {% endwith %}
  </div>
  <p></p>{% comment %}space so the chevron doesnt get covered up{% endcomment %}
  <div class="can-expand">
    <a href="javascript:void(0)"><span class="fa fa-chevron-down"></span></a>
  </div>
</div>
