{% load staticfiles i18n %}

<span class="actions">
{% if edit_event %}
<span class="edit">
{% if occurrence.event.rule %}
    {% if occurrence.id %}
        <a href="javascript:void(0)" onclick="openURL('{{ edit_occurrence }}?next={{ here }}', event);">
            <span class="fa fa-pencil"></span>
        </a>
    {% else %}
        <a href="javascript:void(0)" onclick="openEditDialog(this, '{{ edit_occurrence }}?next={{ here }}', '{{ edit_event }}?next={{ here }}', event);">
            <span class="fa fa-pencil"></span>
        </a>
    {% endif %}
{% else %}
    <a href="javascript:void(0)" onclick="openURL('{{ edit_event }}?next={{ here }}', event);">
        <span class="fa fa-pencil"></span>
    </a>
{% endif %}
{% endif %}
</span>
{% if delete_event %}
<span class="delete">
{% if occurrence.event.rule %}
    {% if occurrence.id %}
        <a href="javascript:void(0)" onclick="openURL('{{cancel_occurrence}}?next={{here}}', event);">
            <span class="fa fa-trash-o"></span>
        </a>
    {% else %}
        <a href="javascript:void(0)" onclick="openCancelDialog(this, '{{ cancel_occurrence }}?next={{here}}', '{{delete_event}}?next={{here}}', event);">
            <span class="fa fa-trash-o"></span>
        </a>
    {% endif %}
{% else %}
<a href="javascript:void(0)" onclick="openURL('{{delete_event}}?next={{here}}', event);">
  <span class="fa fa-trash-o"></span>
</a>
{% endif %}
{% endif %}
</span>
</span>
