{% load scheduletags %}
<div class="calendar {{month}}">
  {% if weekday_abbrs or weekday_names %}
    <div class="cal-row-fluid cal-row-head">
      {% ifequal size "small" %}
        {% for day_name in weekday_names %}
          <div class="visible-sm cal-cell1">
            <h5>{{ day_name }}</h5>
          </div>
        {% endfor %}
        {% for day_name in weekday_abbrs %}
          <div class="hidden-sm cal-cell1">
            <h5>{{ day_name }}</h5>
          </div>
        {% endfor %}
      {% else %}
        {% for day_name in weekday_names %}
          <div class="hidden-xs cal-cell1">
            <h5>{{ day_name }}</h5>
          </div>
        {% endfor %}
        {% for day_name in weekday_abbrs %}
          <div class="visible-xs cal-cell1">
            <h5>{{ day_name }}</h5>
          </div>
        {% endfor %}
      {% endifequal %}
    </div>
  {% endif %}
  <div class="cal-month-box">
    {% for week in month.get_weeks %}
      <div class="week">
        <div class="cal-row-fluid row-eq-height cal-day-row">
          <div id="week-link">
            <a href="{% url 'week_calendar' calendar.slug %}{% querystring_for_date week.start %}">
              Week
            </a>
          </div>
          {% for day in week.get_days %}
            {% day_cell calendar day month size %}
          {% endfor %}
        </div>
        <div class="row expanded-day">
          <div class="col-xs-8"><ul class="event-list list-unstyled"></ul></div>
          <div class="col-xs-4 link-list"></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
