{% load scheduletags %}
<div class="prevnext">

    <a href="{% prev_url target slug period %}" class="pull-left" role="button">
        <span class="fa fa-chevron-left"></span>
    </a>

    <span class="preiod-name">{{ period_name }}</span>

    <a href="{% next_url target slug period %}" class="pull-right" role="button">
      <span class="fa fa-chevron-right"></span>
    </a>

</div>
