{% extends 'feeds/base.html' %}
{% block title %}Composers Couch{% endblock %}

{% block showsClass %}active{% endblock %}
{% block feedType %}Shows{% endblock %}
{% block bgColor%}green{% endblock %}

{% block scopeNav %}
  <li class="{% block localClass %}{% endblock %}">
    <a href="{% url 'shows' order 'local' zipcode %}?{% include 'feeds/_genres.html' with  genres=genres usersGenres=usersGenres %}">Local</a>
  </li>
  <li class="{% block regionalClass %}{% endblock %}">
    <a href="{% url 'shows' order 'regional' zipcode %}?{% include 'feeds/_genres.html' with  genres=genres usersGenres=usersGenres %}">Regional</a>
  </li>
  <li class="{% block globalClass %}{% endblock %}">
    <a href="{% url 'shows' order 'all' zipcode %}?{% include 'feeds/_genres.html' with  genres=genres usersGenres=usersGenres %}">All</a>
  </li>
  <li class="{% block followingClass %}{% endblock %}">
    <a href="{% url 'shows' order 'following' zipcode %}?{% include 'feeds/_genres.html' with  genres=genres usersGenres=usersGenres %}">Following</a>
  </li>
{% endblock %}

{% block orderOptions %}
  <li><a href="{% url 'shows' 'all' 'all' zipcode %}?{% include 'feeds/_genres.html' with  genres=genres usersGenres=usersGenres %}">All</a></li>
  <li><a href="{% url 'shows' 'upcoming' 'all' zipcode %}?{% include 'feeds/_genres.html' with  genres=genres usersGenres=usersGenres %}">Upcoming</a></li>
  <li><a href="{% url 'shows' 'new' 'all' zipcode %}?{% include 'feeds/_genres.html' with  genres=genres usersGenres=usersGenres %}">New </a></li>
{% endblock %}
{% block availabilityForm %}{% endblock %}
