.header {
  &.feed {
    padding: 10px 0px 10px 0px;
    .box-shadow(-1px 0px 3px rgba(0,0,0,.5));
    &.blue {
      background-color: @blue-darker;
    }
    &.green {
      background-color: @green-darker;
    }
    &.purple {
      background-color: @purple-darker;
    }
    &.orange {
      background-color: @orange-darker;
    }
    &.red {
      background-color: @red-darker;
    }
    .filter {
      .filter-nav {
        color:@silver-light;
        .feed-type {
          padding: 0px 5px;
        }
        .nav {
          margin-top:20px;
          border-bottom: 0px;
          .dropdown,
          .popover-form {
            padding-right: 10px;
            margin-bottom: 5px;
            @media (min-width: @screen-sm-min) {
              padding-right: 0px;
              margin-bottom: 0px;
            }
          }
          .last {
            margin-bottom: 0px;
          }
          .popover-form {
            color:@black;
          }
          .nav-form {
            float: left;
            div {
              float:left;
            }
          }
        }
      }
    }
  }
}
.feed {
  .btn-link {
    padding: 10px 5px;
  }
  .genre-form{
    width:200px;
  }
  .cards {
    text-align:left;
    @media (max-width: @screen-xs-max) {
      text-align:center;
    }
  }
  .nav-text {
    float:left;
    position: relative;
    display: block;
    padding: 8px 5px;
    margin-bottom:0px;
  }
  .filter-nav {
    min-height: 20px;
  }
}
