.calendar-header(@color, @bg-color) {
  background-color: @bg-color;
  color: @color;
  a {
    color: @color;
    &:hover, &:focus, &:active,.active {
      color:@silver-light;
    }
  }
}

.calendar-header {
  padding: 8px 0px 8px 0px;
  margin-bottom: 10px;
  &.December,
  &.January,
  &.February {
    .calendar-header(@color:@winter-bg, @bg-color:@winter);
  }
  &.March,
  &.April,
  &.May {
  .calendar-header(@color:@spring-bg, @bg-color:@spring);
  }
  &.June,
  &.July,
  &.August {
    .calendar-header(@color:@summer-bg, @bg-color:@summer);
  }
  &.September,
  &.October,
  &.November {
    .calendar-header(@color:@fall-bg, @bg-color:@fall);
  }
  .preiod-name {
    font-size:36px;
  }
}

.calendar-wrapper {
  text-align: center;
  position: relative;
  .navigation {
    margin-bottom:10px;
  }
  .December,
  .January,
  .February {
    color:@winter;
  }
  .March,
  .April,
  .May {
    color:@spring;
  }
  .June,
  .July,
  .August {
    color:@summer;
  }
  .September,
  .October,
  .November {
    color:@fall;
  }

  div.cal-month-box {
    text-align: left;
  }
  /* Calendar */
  .calendar {
    background-color:@white;
    padding:0 5px 5px 5px;
    margin-bottom:25px;
    @media (min-width: @screen-sm-min) {
      padding:0 15px 15px 15px;
    }
  }
  .horizontalMonth {
    display:inline-block;
    vertical-align: top;
  }

  /* Linking to week view */
  .cal-row-fluid {
    position:relative;
    &:hover{
      #week-link {
        display:block;
      }
    }
    #week-link {
      display:none;
      position: absolute;
      left:5px;
      bottom:5px;
      z-index: 1;
    }
  }

}
