{% extends "base.html" %}
{% load i18n %}
{% load thumbnail %}
{% load url from future %}

{% block photos-breadcrumb %}
    {% with "li" as scope_tag %}
        {% include "photos/image-scope.html" %}
    {% endwith %}
{% endblock %}

{% block title %}
    {% include "photos/image-scope.html" %}
{% endblock %}

{% block photos-info %}
    {% if view_user and PHOTOS_SHOW_USER %}
        {% with user=view_user %}
            {% include "photos/user_info.html" %}
        {% endwith %}
    {% endif %}
    {% if album and PHOTOS_SHOW_USER %}
        {% with user=album.user %}
            {% include "photos/user_info.html" %}
        {% endwith %}
    {% endif %}

{% endblock %}


{% block controls %}
    {% if album %}
        {% if request.user == album.user or perms.photos.moderate_albums %}
            <li><a href='{% url 'photos:update-album' pk=album.pk %}'>{% trans "Edit album" %}</a></li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% include "photos/image-scope.html" %}
    </h1>
    {% include "photos/pagination.html" %}
    <div id="image-thumbnails">
        {% for image in image_list %}
            <div class='image-preview'>
            {% thumbnail image.image "120x120" crop="center" as im %}
                <a class="thumb" rel='gallery-image[ilist]' href="{{ image.image.url }}">
                    <img class="preview" {% if image.title %} alt="{{ image.title }}" {% endif %} src="{{ im.url }}">
                </a>
                <a href="{% include "photos/image-href.html" %}">
                    {% if image.title %}
                        <br><span class='image-title'>{{ image.title }}</span>
                    {% else %}
                        {% trans 'Info' %}
                    {% endif %}
                </a>
            {% endthumbnail %}
            </div>
        {% endfor %}
    </div>
    {% include "photos/pagination.html" %}
{% endblock %}


