{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <h4>{% trans "Are you sure that you would like to delete this image?" %}</h4>
  <form method="post" action="{% url 'photos:delete-image' image.id %}">
    {% csrf_token %}
    <a class='btn btn-primary' href="{{ post.get_absolute_url }}">← {% trans "No, take me back" %}</a>
    <input type="submit" class='btn btn-danger' value="{% trans 'Yes, I am sure' %}" />
  </form>
{% endblock %}
