{% load i18n inbox %}
{% load less staticfiles compress %}
{% load progress_bar %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2161A8">
    <title>{% block title %}Composers Couch{% endblock %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    {% compress css %}<link rel="stylesheet" type='text/css' href="{{ STATIC_URL }}{% less 'less/theme.less' %}" >{% endcompress %}
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1>
            <a class="navbar-brand" href="{% url 'home' %}">
              <span class="composers">COMPOSERS</span><span class="couch">COUCH</span><span class="beta-badge"> BETA</span>
            </a>
          </h1>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-left" action="{% url 'search' %}" method="get" role="search">
            <span class="fa fa-search"></span>
            <input type="search" name="q" id="search" class="form-control" />
          </form>
          <div class="navbar-right">
            {% if user.is_authenticated %}
              <ul class="nav navbar-nav navbar-right">
                <li>
                  {% if user.profile.profile_type == 'f' %}
                    <a href="{% url 'fan:home' user.username %}">{{ user.get_full_name }}</a>
                  {% elif user.profile.profile_type == 'm' %}
                    <a href="{% url 'musician:home' user.username %}">{{ user.profile.musicianProfile.name }}</a>
                  {% elif user.profile.profile_type == 'v' %}
                    <a href="{% url 'venue:home' user.username %}">{{ user.profile.venueProfile.name }}</a>
                  {% endif %}
                </li>
                <li class="dropdown hidden-xs">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    {% include "_navbar_dropdown.html" with username=user.username %}
                  </ul>
                </li>
                <ul class="nav navbar-nav mobile-dropdown-menu visible-xs">
                    <li class="divider"></li>
                    {% include "_navbar_dropdown.html" with username=user.username %}
                </ul>
            {% else %}
              <a href="{% url 'signin' %}?next={% firstof request.path '/' %}" type="button" class="btn btn-default-nav navbar-btn">Sign in</a>
              <a href="{% url 'signup' %}?next={% firstof request.path '/' %}" type="button" class="btn btn-primary navbar-btn">Sign up</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <!-- Right Hand Navigation -->
    <div class="rightNav" id="sidebar" role="navigation">
      {% if user.is_authenticated %}
      <a href="{% url 'messages_inbox' %}" class="rightNavItem request">
        <span class="fa fa-envelope-o"></span>
        {% inbox_count as unread_count %}
        {% include "utils/_alert_badge.html" with count=unread_count %}
      </a>
      <a href="{% url 'month_calendar' user.calendar.slug %}" class="rightNavItem calendar">
        <span class="fa fa-calendar-o"></span>
      </a>
      {% endif %}
      {% comment %}<a href="{% url 'basket:summary' %}" class="rightNavItem cart">
        <span class="fa fa-shopping-cart"></span>
      </a>{% endcomment %}
    </div>

    <!-- Begin page content -->
    {% block overwriteHeader %}
      <div class="header {% block headerClass %}{% endblock %}">
        <div class="container-fluid">
          {% block header %}{% endblock %}
        </div>
      </div>
    {% endblock %}
    {% block navigation %}{% endblock %}
    {% block overwriteContent %}
      <div class="content">
        <div class="container-fluid">
          {% block content %}{% endblock %}
        </div>
      </div>
    {% endblock %}

    <div id="footer">
      <div class="container-fluid">
        </br>
        <div class="row">
          <div class=col-xs-4>
            <p><a class="text-black" href="{% url 'team' %}">The Team</a></p>
          </div>
          <div class=col-xs-4>
            <p><a class="text-black" href="{% url 'colors' %}">Color Scheme</a></p>
          </div>
          <div class=col-xs-4>
            <p><a class="text-black" href="{% url 'credit' %}">Credit</a></p>
          </div>
        </div>
      </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    {% compress js inline %}
      {% comment %}<script type="text/javascript" src="{% static 'js/jquery-1.11.0.min.js' %}"></script>{% endcomment %}
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
      {% comment %}<script type="text/javascript" src="{% static 'js/jquery-ui-1.10.4.min.js' %}"></script>{% endcomment %}
      <script type="text/javascript" src="{% static 'js/jquery.jplayer.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/jplayer.playlist.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
      {% comment %}<script type="text/javascript" src="{% static 'js/jquery.timepicker.min.js' %}"></script>{% endcomment %}
      <script type="text/javascript" src="{% static 'js/image-picker.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/modalForms.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/profile/venue/about.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/profile/musician/about.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/request/folder.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/schedule/expand-day.js' %}"></script>
      <script type="text/javascript">
        $(document).ready(function() {
            $('#search').yourlabsAutocomplete({
                url: "{% url 'search' %}",
                placeholder: "Search",
                choiceSelector: 'a',
            }).input.bind('selectChoice', function(e, choice, autocomplete) {
                document.location.href = choice.attr('href');
            });
        });
      </script>
      {% include 'autocomplete_light/static.html' %}
    {% endcompress %}
    {% block script %}{% endblock %}
  </body>
</html>
