{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Form" %}{% endblock %}

{% block header %}
<form id="{% block formID %}{% endblock %}" method="post"
      enctype="{% block enctype %}{% endblock %}" class="modal-dialog"
      action="{% block FormURL %}{{ request.path }}{% endblock %}">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h3>{% block formTitle %}Form{% endblock %}</h3>
          {% block modalNav %}
          {% endblock %}
        </div>
        <div class="modal-body">
          {% block form %}
            {% csrf_token %}
            {% crispy form %}
          {% endblock %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          {% block extraSubmit %}{% endblock %}
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
{% endblock %}
