{% extends 'base.html' %}
{% load static %}
{% block title %}Composers Couch{% endblock %}


{% block overwriteHeader %}
  <div class="landing-page">
    <div class="jumbotron composers-couch">
      <div class="image-frame">
        <span class="frame-helper"></span>
        <img class="image-center" id="logo" alt="Composers Couch" src="{% static 'img/logo.png' %}">
      </div>
        <p class="text-center">The online booking agency with a slogan</p>
    </div>
  </div>
{% endblock %}
{% block overwriteContent %}
  <div class="landing-page">
    <div class="jumbotron profile-types text-center">
      <div class="row">
        <div class="col-sm-4">
          <span class="fa fa-ticket fa-5x"></span>
          <h2>Venues</h2>
          <p>Manage press kit submissions, easily fill gaps in your schedule.</p>
        </div>
        <div class="col-sm-4">
          <span class="fa fa-music fa-5x"></span>
          <h2>Musicians</h2>
          <p>Host your press kit and find venues locally or on tour</p>
        </div>
        <div class="col-sm-4">
          <span class="fa fa-users fa-5x"></span>
          <h2>Fans</h2>
          <p>Find shows in your area, follow your favorite artists</p>
        </div>
      </div>
      <a href="{% url 'signup' %}?next={% firstof request.path '/' %}" type="button" class="btn btn-primary">Sign up slogan here</a>
    </div>
    <div class="jumbotron requests">
      <div class="row">
        <div class="col-sm-6">
          <h2>Requests</h2>
          <p>Publically ask to see who is available. quickly find who is looking for show in your area.</p>
          <a href="{% url 'requests' 'expiring' 'default' 'all' %}" class="btn btn-transparent">
            <b> Requests</b> <span class="fa fa-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="jumbotron shows">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-6">
          <h2>Concerts</h2>
          <p>See what shows are coming up. filterable by genre and location</p>
          <a href="{% url 'shows' 'upcoming' 'all' %}" class="btn btn-transparent">
            <b> Concerts</b> <span class="fa fa-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="jumbotron updates">
      <div class="row">
        <div class="col-sm-6">
          <h2>Updates</h2>
          <p>Find out what you favorite venues and artists are up to.</p>
          <a href="{% url 'updates' 'all' %}" class="btn btn-transparent">
            <b> Updates</b> <span class="fa fa-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="jumbotron artists-venues text-center">
      <div class="row">
        <div class="col-sm-6">
          <h2>Artists</h2>
          <p>Find artists by location, genre and availability. Never have a hole in your schedule again.</p>
          <a href="{% url 'artists' 'all' 'all' %}" class="btn btn-danger">
            <b> Artists</b> <span class="fa fa-chevron-right"></span>
          </a>
        </div>
        <div class="col-sm-6">
          <h2>Venues</h2>
          <p>Find venues by location, genre and availability. Never have a hole in your schedule again.</p>
          <a href="{% url 'venues' 'all' 'all' %}" class="btn btn-warning">
            <b> Venues</b> <span class="fa fa-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
