{% extends 'base.html' %}
{% block title %}Color Scheme{% endblock %}

{% block content %}
  <h2>Color Scheme</h2>
  <h3>Colors</h3>
  <div class="row">
    <div class="col col-md-1 white">
      <p class="color" id="black">white</p>
    </div>
    <div class="col col-md-1 silver-light">
      <p class="color" id="black">silver-light</p>
    </div>

    <div class="col col-md-1 blue-lighter">
      <p class="color" id="white">blue-lighter</p>
    </div>
    <div class="col col-md-1 blue-light">
      <p class="color" id="white">blue-light</p>
    </div>

    <div class="col col-md-1 purple-lighter" >
      <p class="color" id="white">purple-lighter</p>
    </div>
    <div class="col col-md-1 purple-light" >
      <p class="color" id="white">purple-light</p>
    </div>

    <div class="col col-md-1 green-lighter">
      <p class="color" id="white">green-lighter</p>
    </div> 
    <div class="col col-md-1 green-light">
      <p class="color" id="white">green-light</p>
    </div>

    <div class="col col-md-1 orange-lighter">
      <p class="color" id="white">orange-lighter</p>
    </div>
    <div class="col col-md-1 orange-light">
      <p class="color" id="white">orange-light</p>
    </div>

    <div class="col col-md-1 red-lighter">
      <p class="color" id="white">red-lighter</p>
    </div>
    <div class="col col-md-1 red-light">
      <p class="color" id="white">red-light</p>
    </div>
  </div>
  <div class="row">
    <div class="col col-md-1 gray-light">
      <p class="color" id="white">gray</p>
    </div>
    <div class="col col-md-1 silver">
      <p class="color" id="black">silver</p>
    </div>
    <div class="col col-md-2 blue">
      <p class="color" id="white">blue</p>
    </div>
    <div class="col col-md-2 purple" >
      <p class="color" id="white">purple</p>
    </div>
    <div class="col col-md-2 green">
      <p class="color" id="white">green</p>
    </div>
    <div class="col col-md-2 orange">
      <p class="color" id="white">orange</p>
    </div>
    <div class="col col-md-2 red">
      <p class="color" id="white">red</p>
    </div>
  </div>

    <div class="row">
    <div class="col col-md-1 black-light">
      <p class="color" id="white">black-light</p>
    </div>
    <div class="col col-md-1 black">
      <p class="color" id="white">black</p>
    </div>

    <div class="col col-md-1 blue-darker">
      <p class="color" id="white">blue-darker</p>
    </div>
    <div class="col col-md-1 blue-dark">
      <p class="color" id="white">blue-dark</p>
    </div>

    <div class="col col-md-1 purple-darker" >
      <p class="color" id="white">purple-darker</p>
    </div>
    <div class="col col-md-1 purple-dark" >
      <p class="color" id="white">purple-dark</p>
    </div>

    <div class="col col-md-1 green-darker">
      <p class="color" id="white">green-darker</p>
    </div> 
    <div class="col col-md-1 green-dark">
      <p class="color" id="white">green-dark</p>
    </div>

    <div class="col col-md-1 orange-darker">
      <p class="color" id="white">orange-darker</p>
    </div>
    <div class="col col-md-1 orange-dark">
      <p class="color" id="white">orange-dark</p>
    </div>

    <div class="col col-md-1 red-darker">
      <p class="color" id="white">red-darker</p>
    </div>
    <div class="col col-md-1 red-dark">
      <p class="color" id="white">red-dark</p>
    </div>
  </div>
  
  </br>
  <h3>Seasonal Colors</h3>
  <div class="row">
    <div class="col col-md-3 winter">
      <p class="color" id="white">Winter</p>
    </div>
    <div class="col col-md-3 spring">
      <p class="color" id="white">Spring</p>
    </div>
    <div class="col col-md-3 summer">
      <p class="color" id="white">Summer</p>
    </div>
    <div class="col col-md-3 fall">
      <p class="color" id="white">Fall</p>
    </div>
  </div>
  </br>
{% endblock %}
