{% extends 'base.html' %}
{% block title %}Composers Couch Credit{% endblock %}
{% load static %}

{% block content %}
  <div id="credit">
    <div>
      <p>GeoDjango: a world-class geographic web framework <a href="http://geodjango.org/">geodjango.org</a></p>
      <p>GeoNames: a geographical database <a href="http://www.geonames.org/">geonames.org</a></p>
    </div>
  </div>
{% endblock %}
