{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Account activation failed." %}{% endblock %}
{% block content_title %}<h2>{% trans "Your account could not be activated..." %}</h2>{% endblock %}

{% block content %}
<p>{% trans "Your account could not be activated. This could be because your activation link has aged." %}</p>
<p>{% trans "Please try signing up again or contact us if you think something went wrong." %}</p>
{% endblock %}
