{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}
{% block content_title %}<h2>{% trans "Your password has been changed" %}.</h2>{% endblock %}

{% block content %}
<p>{% trans "From now on you can use your new password to signin" %}.</p>
{% endblock %}
