{% extends "base.html" %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Password reset" %}{% endblock %}
{% block content_title %}<h2>{% trans "Your password has been reset" %}</h2>{% endblock %}
{% block content %}
{% blocktrans %}You can now <a href="{% url 'signin' %}">signin</a> with your new password.{% endblocktrans %}
{% endblock %}
