{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset email sent" %}{% endblock %}
{% block content_title %}<h2>{% trans "Password reset email sent" %}</h2>{% endblock %}

{% block content %}
<p>{% trans "An e-mail has been sent to you which explains how to reset your password." %}</p>
{% endblock %}
