{% load i18n staticfiles %}

<div class="musician">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-3">
          <div class="image-frame">
            <span class="frame-helper"></span>
            {% include "utils/_mugshot.html" with profile=artist.profile height=125 width=125  %}
          </div>
        </div>
        <div class="col-sm-6">
          <h3><a class="text-black" href="{% url 'musician:home' artist.profile.user.username %}">
            {{ artist.name }}
          </a></h3>
          {% if artist.biography %}
            <p>{{ artist.biography }}</p>
          {% endif %}
        </div>
        <div class="col-sm-3">
          {% include "profile/_contact.html" with contact_info=artist.profile.contact_info %}
        </div>
      </div>
    </div>
  </div>
</div>
