<script type="text/javascript">
    function show_image_picker() {
        $("{{uploadDiv}}").hide();
        $("{{selectDiv}}").show();
    }
    function show_image_uploader() {
        $("{{selectDiv}}").hide();
        $("{{uploadDiv}}").show();
    }
    $(document).ready(function() {
        $("{{selectorID}}").imagepicker({show_label : true});
        {% if images %}
          $("{{uploadDiv}}").append(function() {
            return $("<a href='#' id='show-image-picker'>Select from my photos</a>").click(show_image_picker);
          });
        {% endif %}
        $("{{selectDiv}}").append(function() {
          return $("<a href='#' id='show-image-uploader'>Upload photo</a>").click(show_image_uploader);
        });
        {% if page or images %}
          show_image_picker();
        {% else %}
          show_image_uploader();
        {% endif %}
    });
</script>
