{% extends 'feeds/updates/updates.html' %}
{% block title %}Composers Couch{% endblock %}

{% block globalClass %}active{% endblock %}
{% block scopeNavActive %}All{% endblock %}
{% block zipcodeForm %}{% block zipcodeText %}{% endblock %}{% endblock %}

{% block feed %}
  <div class="posts">
    {% for post in posts %}
    <div class="post">
      {% include "feeds/_post.html" with post=post %}
    </div>
    {% empty %}
      {% include "feeds/_empty_feed.html" with location=location feed_type="posts" following=following %}
    {% endfor %}
    {% include "utils/_pagination.html" with page=posts %}
  </div>
{% endblock %}
