{% extends 'feeds/base.html' %}
{% block title %}Composers Couch{% endblock %}

{% block updatesClass %}active{% endblock %}
{% block feedType %}Updates{% endblock %}
{% comment %}remove genreform from templates{% endcomment %}
{% block genreForm %}{% endblock %}
{% block bgColor%}purple{% endblock %}

{% block scopeNav %}
  <li class="{% block localClass %}{% endblock %}">
    <a href="{% url 'updates' 'local' zipcode %}?{% include 'feeds/_genres.html' with  genres=genres usersGenres=usersGenres %}">Local</a>
  </li>
  <li class="{% block regionalClass %}{% endblock %}">
    <a href="{% url 'updates' 'regional' zipcode %}?{% include 'feeds/_genres.html' with  genres=genres usersGenres=usersGenres %}">Regional</a>
  </li>
  <li class="{% block globalClass %}{% endblock %}">
    <a href="{% url 'updates' 'all' zipcode %}?{% include 'feeds/_genres.html' with  genres=genres usersGenres=usersGenres %}">All</a>
  </li>
  <li class="{% block followingClass %}{% endblock %}">
    <a href="{% url 'updates' 'following' zipcode %}?{% include 'feeds/_genres.html' with  genres=genres usersGenres=usersGenres %}">Following</a>
  </li>
{% endblock %}

{% block orderForm %}{% endblock %}
{% block availabilityForm %}{% endblock %}
