{% extends 'formModal.html' %}


{% block modalNav %}
  <ul class="nav nav-pills">
    <li class="{% block contactClass %}{% endblock %}">
      <a class="editContact" href="{% url 'venue:contactForm' username  %}">Contact</a>
    </li>
    <li class="{% block hoursClass %}{% endblock %}">
      <a class="editHours" href="{% url 'venue:hoursForm' username %}">Hours</a>
    </li>
    <li class="{% block seatingClass %}{% endblock %}">
      <a class="editSeating" href="{% url 'venue:seatingForm' username %}">Seating</a>
    </li>
    <li class="{% block equipmentClass %}{% endblock %}">
      <a class="editEquipment" href="{% url 'venue:equipmentForm' username 'sound' %}">Equpiment</a>
    </li>
    <li class="{% block policiesClass %}{% endblock %}">
      <a class="editPolicies" href="{% url 'venue:policiesForm' username %}">Policies</a>
    </li>
    <li class="{% block biographyClass %}{% endblock %}">
      <a class="editBiography" href="{% url 'venue:biographyForm' username %}">Biography</a>
    </li>
    <li class="{% block staffClass %}{% endblock %}">
      <a class="editStaff" href="{% url 'venue:staffForm' username %}">Staff</a>
    </li>
  </ul>
{% endblock %}
