{% extends 'profile/venue/forms/about_modal.html' %}
{% load i18n crispy_forms_tags %}
{% crispy EquipmentForm EquipmentForm.helper %}

{% block title %}{% block formTitle %}{% trans "Edit Equipment" %}{% endblock %}{% endblock %}
{% block formID %}equipmentForm{% endblock %}
{% block equipmentClass %}active{% endblock %}

{% block form %}
  <h3>{{ category|capfirst }}</h3>
  <a class="{{isEditable}} editEquipment" href="{% url 'venue:equipmentForm' username 'sound' %}">
    Sound
  </a>,
  <a class="{{isEditable}} editEquipment" href="{% url 'venue:equipmentForm' username 'effects' %}">
    Effects
  </a>,
  <a class="{{isEditable}} editEquipment" href="{% url 'venue:equipmentForm' username 'accessories' %}">
    Accessories
  </a>
  <div class="row no-gutter">
    <div class="col-xs-3 left">
      <label class="control-label" for='equipmentForm'>Quantity</label>
    </div>
    <div class="col-xs-7 center">
      <label class="control-label" for='equipmentForm'>Name</label>
    </div>
    <div class="col-xs-2 right">
      <label class="control-label" for='equipmentForm'>Remove</label>
    </div>
  </div>
  {{ form.management_form|crispy }}
  {% for f in form %}
    {% crispy f %}
  {% endfor %}

{% endblock %}
{% block extraSubmit %}
  <button type="submit" class="addMore btn btn-primary">Save & Add More</button>
{% endblock %}
