{% extends 'profile/venue/forms/about_modal.html' %}
{% load i18n crispy_forms_tags %}
{% load staticfiles %}
{% load annoying %}
{% crispy HoursForm HoursForm.helper %}

{% block title %}{% block formTitle %}{% trans "Edit Hours" %}{% endblock %}{% endblock %}
{% block formID %}hoursForm{% endblock %}
{% block hoursClass %}active{% endblock %}

{% block form %}
  {{ form.management_form|crispy }}
  {% csrf_token %}
  <div class="row no-gutter">
    <div class="col-sm-2"></div>
    <div class="col-sm-5">
      <label class="control-label" for='equipmentForm'>Open</label>
    </div>
    <div class="col-sm-5">
      <label class="control-label" for='equipmentForm'>Close</label>
    </div>
  </div>
  {% for f in form %}
    {% with day=weekdays|get_item:forloop.counter0 %}
      {% crispy f %}
    {% endwith %}
  {% endfor %}

  {% block script %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#id_form-0-start').datetimepicker({pickDate: false});
            $('#id_form-0-end').datetimepicker({pickDate: false});
            $('#id_form-1-start').datetimepicker({pickDate: false});
            $('#id_form-1-end').datetimepicker({pickDate: false});
            $('#id_form-2-start').datetimepicker({pickDate: false});
            $('#id_form-2-end').datetimepicker({pickDate: false});
            $('#id_form-3-start').datetimepicker({pickDate: false});
            $('#id_form-3-end').datetimepicker({pickDate: false});
            $('#id_form-4-start').datetimepicker({pickDate: false});
            $('#id_form-4-end').datetimepicker({pickDate: false});
            $('#id_form-5-start').datetimepicker({pickDate: false});
            $('#id_form-5-end').datetimepicker({pickDate: false});
            $('#id_form-6-start').datetimepicker({pickDate: false});
            $('#id_form-6-end').datetimepicker({pickDate: false});
        });
    </script>
  {% endblock %}
{% endblock %}
