{% extends 'profile/venue/forms/about_modal.html' %}
{% load i18n crispy_forms_tags %}
{% load staticfiles %}
{% crispy StaffForm StaffForm.helper %}

{% block title %}{% trans "Edit Staff" %}{% endblock %}

{% block staffClass %}active{% endblock %}

{% block formID %}staffForm{% endblock %}

{% block formTitle %}Edit Staff{% endblock %}

{% block form %}
    <span>Edit: </span>
  {% for s in staff %}
    <a class="{{isEditable}} editStaff" href="{% url 'venue:staffForm' username s.id %}">
      {{s.contact.name}},
    </a>
  {% endfor %}
  <span>or </span>
    <a class="{{isEditable}} editStaff text-success" href="{% url 'venue:staffForm' username %}">
      Add New
    </a>
  {% crispy contactForm %}
  {% crispy staffForm %}

{% endblock %}
