
<div class="requests">
  {% for publicRequest in requests %}
    <div class="publicRequest">
      {% include "request/_public_request.html" with publicRequest=publicRequest %}
    </div>
  {% empty %}
    {% include "feeds/_empty_feed.html" with location=location feed_type="requests" following=following %}
  {% endfor %}
  {% include "utils/_pagination.html" with page=requests %}
</div>
