.landing-page {
  .jumbotron {
    margin-bottom: 0px;
  }
  .composers-couch {
    background-color:@white;
  }
  .profile-types {
    background-color:@black;
    color:@white;
  }
  .requests {
    background-color:@blue;
    color:@white;
  }
  .shows {
    background-color:@green;
    color:@white;
  }
  .updates {
    background-color:@purple;
    color:@white;
  }
  .artists-venues {
    background-color:@silver;
    color:@black;
  }

}
