{% extends 'base.html' %}
{% block title %}Composers Couch{% endblock %}
{% load static i18n crispy_forms_tags  %}
{% crispy AvailabilityForm AvailabilityForm.helper %}
{% crispy GenreForm GenreForm.helper %}
{% crispy ZipcodeForm ZipcodeForm.helper %}

{% block headerClass %}feed {% block bgColor%}blue{% endblock %}{% endblock %}

{% block header %}
  <div class="feed">
    <div class="filter">
      <div class="filter-nav">
        <div class="btn-group">
          <button type="button" class="btn btn-link text-white dropdown-toggle feed-type" data-toggle="dropdown" aria-expanded="false">
            <h2>{% block feedType %}Feed{% endblock %} <span class="caret"></span></h2>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li class="{% block requestsClass %}{% endblock %}">
              <a href="{% url 'requests' 'expiring' 'default' 'all' zipcode %}{% include 'feeds/_genres.html' with  genres=genres usersGenres=usersGenres %}">Requests</a>
            </li>
            <li class="{% block showsClass %}{% endblock %}">
              <a href="{% url 'shows' 'upcoming' zipcode %}{% include 'feeds/_genres.html' with  genres=genres usersGenres=usersGenres %}">Concerts</a>
            </li>
            <li class="{% block artistsClass %}{% endblock %}">
              <a href="{% url 'artists' 'all' zipcode %}{% include 'feeds/_genres.html' with  genres=genres usersGenres=usersGenres %}">Artists</a>
            </li>
            <li class="{% block venuesClass %}{% endblock %}">
              <a href="{% url 'venues' 'all' zipcode %}{% include 'feeds/_genres.html' with  genres=genres usersGenres=usersGenres %}">Venues</a>
            </li>
            <li class="{% block updatesClass %}{% endblock %}">
              <a href="{% url 'updates' 'all' zipcode %}{% include 'feeds/_genres.html' with  genres=genres usersGenres=usersGenres %}">Updates</a>
            </li>
          </ul>
        </div>
        <ul class="nav nav-tabs">
          <li class="dropdown">
            <button class="btn btn-transparent dropdown-toggle toggle" data-toggle="dropdown">
              <b>{% block scopeNavActive %}Distance{% endblock %}</b> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              {% block scopeNav %}
              {% endblock %}
            </ul>
          </li>
          {% block zipcodeForm %}
            <p class="nav-text hidden-xs">for</p>
            <li class="popover-form">
              <button id="zipcode-select" class="btn btn-transparent toggle">
                <b>{% if zipcode %}
                  {{ zipcode }}
                {% else %}
                  Zipcode
                {% endif %}</b>
                <span class="caret"></span>
              </button>
              <div class="head hide">Zipcode</div>
              <div class="content hide">
                <form class="nav-form" role="filter" method="POST" action="{% url 'zipcode' %}">
                  <input type="hidden" name="path" value="{% firstof request.path '/' %}">
                  {% crispy zipcodeForm %}
                </form>
              </div>
            </li>
          {% endblock %}
          {% block forForm %}
          {% endblock %}
          {% block availabilityForm %}
            <p class="nav-text hidden-xs">available</p>
            <li class="popover-form">
              <button id="availability-select" class="btn btn-transparent toggle">
                <b>{% if date %}{{ date|date:"n/j/y" }}{% else %}Availability{% endif %}</b> <span class="caret"></span>
              </button>
              <div class="head hide">Availability</div>
              <div class="content hide">
                <form class="availability-form" role="filter" method="POST" action="{% url 'availability' %}">
                  <input type="hidden" name="path" value="{% firstof request.path '/' %}">
                  {% crispy availabilityForm %}
                </form>
              </div>
            </li>
          {% endblock %}
          {% block addFeedItem %}{% endblock %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="feed">
    <div class="filter-nav">
      <ul class="nav nav-tabs">
        {% block genreForm %}
        <p class="nav-text">Filter:</p>
        <li class="popover-form">
          <button id="genre-select" class="btn btn-link toggle">Genre <span class="caret"></span></button>
          <div class="head hide">Genres</div>
          <div class="content hide">
            <form class=" genre-form" role="filter" method="POST" action="{% url 'filter' %}">
              <input type="hidden" name="path" value="{% firstof request.path '/' %}">
              {% crispy genreForm %}
            </form>
            {% comment %}
            {% if user.is_authenticated %}
            <a class="" href="{% url 'profile_edit' user.username %}">
              Add Genres
            </a>
            {% endif %}
            {% endcomment %}
          </div>
        </li>
        {% endblock %}
        {% block orderForm %}
        <li class="pull-right dropdown">
          <button class="btn btn-link dropdown-toggle toggle" data-toggle="dropdown">
            {{ order | capfirst }} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            {% block orderOptions %}{% endblock %}
          </ul>
        </li>
        <p class="pull-right nav-text">Order:</p>
        {% endblock %}
      </ul>
    </div>
    <div class="cards">

      {% block feed %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block script %}
  {{ script.super }}
  <script type="text/javascript" >
    $('#availability-select').on('show.bs.popover', function () {
        $('#genre-select').popover('hide')
        $('#zipcode-select').popover('hide')
    })
    $('#genre-select').on('show.bs.popover', function () {
        $('#availability-select').popover('hide')
        $('#zipcode-select').popover('hide')
    })
    $('#zipcode-select').on('show.bs.popover', function () {
        $('#availability-select').popover('hide')
        $('#genre-select').popover('hide')
    })
    $('#availability-select').popover({
        html: true,
        placement: 'bottom',
        title: function () {
            return $(this).parent().find('.head').html();
        },
        content: function () {
            return $(this).parent().find('.content').html();
        }
    });
    $('#genre-select').popover({
        html: true,
        placement: 'bottom',
        title: function () {
            return $(this).parent().find('.head').html();
        },
        content: function () {
            return $(this).parent().find('.content').html();
        }
    });
    $('#zipcode-select').popover({
        html: true,
        placement: 'bottom',
        title: function () {
            return $(this).parent().find('.head').html();
        },
        content: function () {
            return $(this).parent().find('.content').html();
        }
    });
    $('#availability-select').on('shown.bs.popover', function () {
        $(function () {
            $('#id_date').datetimepicker({pickTime: false});
        });
    })
    $('#genre-select').on('shown.bs.popover', function () {
          {% comment %}TODO: get url with not so fancy javascript{% endcomment %}
          $('#div_id_genre').yourlabsWidget({
              autocompleteOptions: {
                  url: '/autocomplete/GenreAutocomplete/',
                  choiceSelector: '[data-value]',
                  placeholder: '',
              },
          });
    })
    $('#zipcode-select').on('shown.bs.popover', function () {
          $('#div_id_zip_code').yourlabsWidget({
              autocompleteOptions: {
                  url: '/autocomplete/ZipcodeAutocomplete/',
                  choiceSelector: '[data-value]',
                  placeholder: '',
              },
          });
    })
  </script>
{% endblock %}
