{% load i18n %}
<div id="jp_container_{{ id }}" class="jp-audio">
  <div class="jp-type-playlist">
    <div id="jquery_jplayer_{{ id }}">
    </div>
    <div class="jp-playlist">
      <ul class="jp-track-list" style="display: block;">
      </ul>
    </div>
  </div>
</div>
